<form action="/create_response_from_board_member" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(MyQuestion.all, :id, :committee_id, @response.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="my_questions_id">
      My questions
    </label>

    <input type="text" id="my_questions_id" name="my_questions_id" class="form-control" value="<%= @response.my_questions_id %>">
  </div>

  <div class="form-group">
    <label for="response">
      Response
    </label>

    <textarea id="response" name="response" class="form-control" rows="3"><%= @response.response %></textarea>
  </div>

  <input type="hidden" name="board_members_id" value="<%= @board_member.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create response
  </button>
</form>
