<form action="/create_committee_from_board_member" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @committee.name %>">
  </div>

  <input type="hidden" name="board_members_id" value="<%= @board_member.id %>">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create committee
  </button>
</form>
