<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Committees

    <a data-toggle="collapse" href="#board_member_committees_new_form">
      Add committee
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @board_member.committees.each do |committee| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/committees/<%= committee.id %>">
          <%= committee.created_at %>
        </a>

        <%if current_user == committee.user %>
          <a href="/delete_committee_from_board_member/<%= committee.id %>">
            Delete
          </a>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="board_member_committees_new_form">
        <%= render partial: "board_member_templates/board_member_committees_new_form" %>
      </div>
    </div>

  </ul>
</div>
