<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Committees

    <a data-toggle="collapse" href="#board_member_committees_new_form">
      Add committee
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @board_member.committees.each do |committee| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/committees/<%= committee.id %>">
          <%= committee.created_at %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_committee_from_board_members/<%= committee.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="board_member_committees_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "board_member_templates/board_member_committees_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
