<h1>
  Edit board member #<%= @board_member.id %>
</h1>

<hr>

<form action="/update_board_member/<%= @board_member.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <textarea id="name" name="name" class="form-control" rows="3"><%= @board_member.name %></textarea>
  </div>

  <div class="form-group">
    <label for="committee_id">
      Committee
    </label>

    <input type="text" id="committee_id" name="committee_id" class="form-control" value="<%= @board_member.committee_id %>">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update board member
  </button>
</form>

<hr>

<a href="/board_members">
  Go back
</a>
