<h1>
  Add a new board member
</h1>


<hr>

<form action="/create_board_member" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <textarea id="name" name="name" class="form-control" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="committee_id">
      Committee
    </label>

    <input type="text" id="committee_id" name="committee_id" class="form-control">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create board member
  </button>
</form>

<hr>

<a href="/board_members">
  Go back
</a>
