<!-- Form response start -->
<form action="/create_response_from_my_question" method="post">
<!-- Form response end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <input type="hidden" name="user_id" value="<%= @my_question.id %>">
  <!-- Input for user_id end -->

  <!-- Label and input for my_questions_id start -->
  <div class="form-group">
    <label for="my_questions_id">
      My questions
    </label>

    <!-- Input for my_questions_id start -->
    <input type="text" id="my_questions_id" name="my_questions_id" class="form-control" value="<%= @response.my_questions_id %>">
    <!-- Input for my_questions_id end -->
  </div>
  <!-- Label and input for my_questions_id end -->

  <!-- Label and input for response start -->
  <div class="form-group">
    <label for="response">
      Response
    </label>

    <!-- Input for response start -->
    <textarea id="response" name="response" class="form-control" rows="3"><%= @response.response %></textarea>
    <!-- Input for response end -->
  </div>
  <!-- Label and input for response end -->

  <!-- Label and input for board_members_id start -->
  <div class="form-group">
    <label for="board_members_id">
      Board members
    </label>

    <!-- Input for board_members_id start -->
    <%= select_tag(:board_members_id, options_from_collection_for_select(BoardMember.all, :id, :name, @response.board_members_id), :class => "form-control") %>
    <!-- Input for board_members_id end -->
  </div>
  <!-- Label and input for board_members_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create response
  </button>
</form>
