<h1>
  Edit committee #<%= @committee.id %>
</h1>

<hr>

<form action="/update_committee/<%= @committee.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @committee.name %>">
  </div>

  <div class="form-group">
    <label for="board_members_id">
      Board members
    </label>

    <input type="text" id="board_members_id" name="board_members_id" class="form-control" value="<%= @committee.board_members_id %>">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update committee
  </button>
</form>

<hr>

<a href="/committees">
  Go back
</a>
