<% if @committee.present? %>
  <% if @committee.errors.any? %>
    <% @committee.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new committee
</h1>


<hr>

<form action="/create_committee" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @committee.name %>">
  </div>

  <div class="form-group">
    <label for="board_members_id">
      Board members
    </label>

    <input type="text" id="board_members_id" name="board_members_id" class="form-control" value="<%= @committee.board_members_id %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create committee
  </button>
</form>

<hr>

<a href="/committees">
  Go back
</a>
